* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
/*去掉a的下划线*/
a:link {
    text-decoration: none;
}
@media screen and (min-width: 750px) {
    .container {
        width: 10rem;
        margin: 0 auto;
    }
}
.container {
    padding: 1.3333rem 0 0 0;
    overflow: hidden;
}
.center {
    padding-bottom: 1.15rem;
    overflow: hidden;
}
.row {
    clear: both;
    overflow: hidden;
}
/*case*/
.case .hd {
    margin-bottom: .54rem;
    padding: 0 .32rem;
}
.case .hd h2 {
    font-size: .48rem;
    height: .64rem;
    line-height: .64rem;
    overflow: hidden;
}
/*搜索*/
.search-wrap {
    padding: .26rem .32rem;
    background: #f2f2f2;
}
.search {
    height: .93rem;
    line-height: .93rem;
    padding-left: .37rem;
    padding-right: 0;
    border-radius: 2px;
}
.search .btn-area {
    position: relative;
    float: right;
    height: .53rem;
    padding: 0 .34rem;
    margin: .2rem 0 0 0;
    border-left: solid 1px #e5e5e5;
    overflow: hidden;
}
.search .btn-search {
    float: left;
    text-indent: -9999px;
    width: .39rem;
    height: .39rem;
    margin-top: .07rem;
    padding: 0;
    background: url("../images/ico-find7.png") 0 0 no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    overflow: hidden;
}
.search .ipt-area {
    float: left;
    width: 7.73rem;
    margin-right: 0;
    overflow: hidden;
}
.search, .search .ipt {
    background: #fff;
    overflow: hidden;
    opacity: 0.92;
    font-size: .32rem;
}
.search .ipt {
    width: 100%;
    height: 0.93rem;
    border: none;
}
/*切换城市*/
.city-change {
    text-align: center;
    font-size: 0.4rem;
    overflow: hidden;
}
.city-change a {
    color: #333;
    padding-right: 0;
    overflow: hidden;
}
.city-change a .text {
    display: inline-block;
}
/*用户中心*/
.user {
    float: right;
    padding-top: .23rem;
    font-size: .24rem;
}
.user li {
    float: left;
}
.user li span {
    display: block;
}
.user li .text {
    color: #666;
    height: .4rem;
    line-height: .4rem;
    overflow: hidden;
}
.user li.record {
    margin-right: .26rem;
}
/*以前公用样式*/
input, textarea {
    -webkit-appearance: none;
}
.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: none;
    overflow: hidden;
}
/*item-new*/
.item-new {
    position: relative;
    padding: .53rem .32rem;
    background-color: #fff;
    opacity: 1;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.i-item-new {
    border-bottom-width: 0.5px;
}
.item-new:hover {
    background-color: #f5f5f5;
}
.item-new .img-area {
    float: left;
    margin-right: .32rem;
    overflow: hidden;
}
.item-new .img-area img {
    width: 2.66rem;
    height: 2.15rem;
}
.item-new .des {
    float: left;
    width: 6.36rem;
}
.item-new .des .tr {
    margin-bottom: .18rem;
    overflow: hidden;
}
.item-new .des .tr:last-child {
    margin-bottom: 0;
}
.item-new .des h3 {
    float: left;
    font-size: .4rem;
    line-height: .45rem;
    max-width: 4rem;
    margin-right: .35rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.item-new .des .status {
    float: left;
    height: .48rem;
    line-height: .48rem;
    overflow: hidden;
}
.item-new .des .status .scale {
    display: block;
    text-align: center;
    font-size: .28rem;
    color: #48b3e2;
    height: .42rem;
    line-height: .4rem;
    padding: .0rem 0.12rem;
    border: solid 1px #48b3e2;
    box-sizing: border-box;
    border-radius: 5rem;
}
[data-type="1"] .item-new .des .status .scale {
    line-height: .44rem;
}
.item-new .des .status .scale-none {
    color: #ccc;
    border: solid 1px #ccc;
}*/
.lb-area {
    display: inline;
    padding-left: .2rem;
    overflow: hidden;
}
.mod-course .lb-area{
    padding-left: 0.4rem;
}
.lbs {
    display: inline-block;
    width: 0.8rem;
    height: 0.4rem;
    text-indent: -9999px;
    vertical-align: middle;
}
.lbs-on{
    background: url("../images/ico-status-on.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-will{
    background: url("../images/ico-status-for.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-not{
    background: url("../images/ico-status-not.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-none{
    background: url("../images/ico-status-none.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-hot{
    width: 1.74rem;
    background: url("../images/ico-status-hot.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-djjx{
    width: 2.66rem;
    height: 0.48rem;
    background: url("../images/ico-djjx.png") no-repeat;
    background-size: 100% 100%;
}
.lbs-pkz{
    width: 1.16rem;
    height: 0.42rem;
    background: url("../images/ico-pkz.png") no-repeat;
    background-size: 100% 100%;
}
.item-new .place {
    float: left;
    height: .45rem;
    line-height: .45rem;
    font-size: .29rem;
    color: #666;
    max-width: 3.2rem;
    overflow: hidden;
}
.item-new .price {
    float: right;
    height: .45rem;
    line-height: .45rem;
    font-size: .34rem;
    color: #ff6d6f;
    overflow: hidden;
    font-weight: bold;
}
.item-new .tag {
    float: left;
    margin-right: .12rem;
    width: 1.28rem;
    height: .34rem;
    overflow: hidden;
    text-indent: -9999px;
}
/*[data-type="1"] .item-new .tag {
    line-height: .39rem;
}*/
.item-new .tag-review {
    background: url("../images/ico-zydp.png");
    background-size: 100% 100%;
}
.item-new .tag-hot {
    background: url("../images/ico-kfh.png");
    background-size: 100% 100%;
}
/*.item-new .tag .ico {
    text-indent: -9999px;
    width: .19rem;
    height: .19rem;
}
[data-type="1"] .item-new .tag .ico {
    margin-bottom: .01rem;
}
.item-new .tag .ico-star {
    float: left;
    margin: 0.07rem 0.05rem 0 0;
}
.item-new .tag .ico-hot {
    float: left;
    margin-right: .12rem;
    margin-top: .07rem;
}*/
.item-new .des .text {
    float: left;
    font-size: .29rem;
    height: .35rem;
    line-height: .38rem;
    color: #666;
    max-width: 4.2rem;
    overflow: hidden;
}
.item-new .des .text-dy{
    max-width: 6rem;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/*推荐楼盘*/
.case-groom .hd {
    margin-bottom: 0.1rem;
}
.case-groom .more {
    text-align: center;
    height: 1.41rem;
    line-height: 1.41rem;
    font-size: .34rem;
    color: #666;
    overflow: hidden;
}
.case-groom .more a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
}
/*404*/
.p404 {
    padding-top: 2.5rem;
}
.p404 .tips-pic {
    width: 4.52rem;
    height: 4.1rem;
    margin: 0 auto 0.73rem;
    background: url("../images/bg-404.png") 0 0 no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.p404 .result-tips {
    margin-bottom: 3rem;
}
.p404 .result-tips p {
    font-size: 0.35rem;
    text-align: center;
}
.p404 .btn-area {
    clear: both;
    width: 8.9rem;
    margin: 0 auto;
    overflow: hidden;
}
.p404 .btn-area .ico, .p404 .btn-area .btn {
    float: left;
}
.p404 .btn {
    box-sizing: border-box;
    font-size: 0.3733rem;
    color: #fff;
    width: 4.26rem;
    height: 0.9333rem;
    line-height: 0.9333rem;
    background-color: #48b3e2;
    border-radius: 2px;
    overflow: hidden;
}
.p404 .btn-area .btn-call {
    float: left;
    padding-left: 1.1rem;
}
.p404 .btn-area .btn-home {
    float: right;
    padding-left: 1rem;
    background-color: #ff6d6f;
}
.p404 .btn-area .ico-call {
    margin: 0.266rem 0.2rem 0 0;
}
.p404 .btn-area .ico-home {
    margin: 0.28rem 0.2rem 0 0;
}
/*废弃的404*/
/*404*/
.site-error {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;
    padding-top: 240px;
    background: url("../images/bg_404.png") center 30px no-repeat;
}
.site-error .fcB {
    font-size: 20px;
    font-weight: normal;
    color: #0074c1;
}
.site-error a {
    color: #0074c1;
}
.seen-page .house-item {
    padding: 1.5rem;
}
/*弹层*/
.layer {
    position: relative;
    margin: 0 auto;
    padding: 0.8rem 1rem;
}
.layui-layer .layui-layer-setwin .layui-layer-close2, .layui-layer .layui-layer-setwin {
    display: none;
}
.layer .close {
    position: absolute;
    top: 0;
    right: 0;
}
/*close*/
.close {
    width: 0.8rem;
    height: 0.8rem;
    overflow: hidden;
}
.close a {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    background: url("../app/icon/images/bg-close.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.layui-layer {
    margin-top: -100px;
}
.layer-wrap {
    color: #575757;
    font-size: 0.187rem;
    padding: 0.5rem 0;
    background: #fff;
    border-radius: 0.267rem;
}
.layer .layer-tips-info {
    text-align: center;
    font-size: 0.4rem;
    padding: 0.267rem 0.2rem 0.6rem;
}
.layer-tips-info.tip-img {
    text-align: center;
    padding: 0;
}
.layer .btn-area {
    text-align: center;
}
.layer .btn-area .btn {
    font-size: 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.5rem;
    margin: 0 0.133rem;
    border: 1px solid #575757;
    border-radius: 0.3rem;
}
/*个性化*/
.special-msg{
    height: 0.53rem;
    line-height: 0.56rem;
    padding: 0 0.12rem;
    margin-top: 0.2rem;
    font-size: 0.29rem;
    background-color: #f2f2f2;
    overflow: hidden;
}
.special-msg .special-title{
    float: left;
    color: #48b3e2;
    margin-right: 0.12rem;
}
.special-msg .special-title img{
    width: 0.34rem;
    height: 0.34rem;
    margin-top: 0.1rem;
}
.special-msg .special-content{
    float: left;
    max-width: 5rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.special-msg .special-time{
    float: right;
    color: #999;
}
.custom-msg .special-title{
    width: 7rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*列表banner*/
.banner img{
    width: 100%;
    height: 2.69rem;
}
/*无搜索结果*/
.no-result {
    padding: 1.066rem 0 0.667rem;
}
.no-result .tips-pic {
    width: 3.76rem;
    height: 4rem;
    margin: 0 auto 0.667rem;
    background: url("../images/bg-norst.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.result-tips p {
    font-size: 0.345rem;
    text-align: center;
    height: 0.667rem;
    line-height: 0.667rem;
    overflow: hidden;
}
/*提示弹框*/
.prop-msg{
    position: fixed;
    display: none;
    width: 5.34rem;
    height: 2.67rem;
    margin: -1.335rem 0 0 -2.67rem;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background: rgba(0,0,0,.8);
}
.prop-msg .msg-content{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.prop-msg .ico{
    margin-right: 0.4rem;
}
.prop-msg .text{
    width: 3.06rem;
    font-size: 0.37rem;
    color: #fff;
    text-align: left;
}
/*loading*/
.loading-waiting {
    text-align: center;
    padding: 0.2rem 0;
    overflow: hidden;
}
.loading-waiting img {
    width: 3.72rem;
    height: 0.54rem;
    overflow: hidden;
}