.top-menu-wrap, .top-menu-banner {
    padding-top: 20px;
}
.top-menu-wrap, .house-name, .detail-nav ul {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.top-menu-wrap, .house-name, .detail-nav-six ul {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.house-name {
    margin-bottom: 20px;
}
.house-name h1, .house-name .subtitle, .house-name .house-tag {
    float: left;
}
.house-name .name {
    clear: both;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.house-name .subtitle {
    color: #888;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.house-name .house-tag {
    margin-top: 9px;
}
.house-name h1 {
    font-size: 28px;
    font-weight: normal;
    margin-right: 15px;
}
.house-name .house-tag .active {
    border-color: #73b5e8;
}
.house-name .house-tag .active, .house-name .house-tag .active a {
    color: #73b5e8;
}
.house-name .subtitle {
    margin: 5px 10px 0 0;
}
.detail-nav {
    clear: both;
    height: 40px;
    background: url("../images/bg-top-nav.png") 0 0 repeat-x;
    overflow: hidden;
}
.detail-nav li {
    float: left;
    font-size: 16px;
    width: 171px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.detail-nav li.first {
    border-left: 1px solid #eaeaea;
}
.detail-nav li.last {
    border-right: 1px solid #eaeaea;
}
.detail-nav li a {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.detail-nav li.on {
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #0074c1;
    border-bottom: 1px solid #0074c1;
    background: #0074c1;
}
.detail-nav li.last {
    width: 172px;
}
.detail-nav li.on a {
    color: #fff;
}
/*6个li 样式*/
.detail-nav-six{
    clear: both;
    height: 40px;
    background: url("../images/bg-top-nav.png") 0 0 repeat-x;
    overflow: hidden;
}
.detail-nav-six li{
    float: left;
    font-size: 16px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.detail-nav-six li.first {
    border-left: 1px solid #eaeaea;
}
.detail-nav-six li.last {
    border-right: 1px solid #eaeaea;
}
.detail-nav-six li a {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.detail-nav-six li.on {
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #0074c1;
    border-bottom: 1px solid #0074c1;
    background: #0074c1;
}
.detail-nav-six li.last {
    width: 198px;
}
.detail-nav-six li.on a {
    color: #fff;
}
/*楼盘详情页悬浮导航*/
.top-menu-banner {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(255, 255, 255, 0.98);*/
    background: #fff;
    opacity: 0.98;
    filter: "alpha(opacity=98)";
    -ms-filter: "alpha(opacity=98)";
    z-index: 5;
}
.top-menu-banner .detail-nav li.first {
    border-left: 0;
}
.top-menu-banner .detail-nav li.last {
    border-right: 0;
}
.top-menu-banner .detail-nav-six li.first {
    border-left: 0;
}
.top-menu-banner .detail-nav-six li.last {
    width: 198px;
    border-right: 0;
}
.dev-price {
    float: left;
    color: #888;
    line-height: 46px;
}
.dev-price em {
    font-style: normal;
    color: #e85045;
    font-size: 22px;
}
.top-menu-banner .discount {
    float: right;
}
.top-menu-banner .discount p {
    float: left;
    font-size: 16px;
    color: #e95046;
    font-weight: bold;
    margin-right: 20px;
    overflow: hidden;
}
.top-menu-banner .discount .youhui {
    max-width: 400px;
    margin-right: 46px;
}
.top-menu-banner .discount .hot-phone {
    margin-right: 20px;
}
.top-menu-banner .discount .btn-bm {
    padding: 0 32px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*免费咨询*/
.advice-free {
    clear: both;
    height: 100px;
    background-color: #f3f3f3;
    overflow: hidden;
}
.advice-free .pic {
    float: left;
    margin-right: 32px;
    padding: 20px 0 0 30px;
}
.advice-free .pic img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.advice-free .input-area {
    float: left;
    margin-right: 35px;
    padding-top: 33px;
}
.advice-free .input-area .ico-phone {
    float: left;
    margin: 8px 10px 0 0;
}
.advice-free .free-number {
    float: left;
    padding-top: 33px;
}
.advice-free .free-number .number {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
}
.advice-free .free-number .color-number {
    color: #e85045;
}
.advice-free .tips {
    display: none;
}
.advice-free .error-tips {
    color: #e85045;
}
.advice-free .right-tips {
    color: #0074c1;
}
.no-pic {
    height: auto;
    background: none;
}
/*楼盘详情页公用样式*/
.sub-list {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}
.sub-list li {
    cursor: pointer;
    color: #666;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.sub-list li .ico {
    float: left;
    margin: 5px 8px 0 0;
}
/*楼盘附加信息*/
.additional {
    clear: both;
    padding-top: 35px;
    border-top: 1px solid #eaeaea;
    overflow: hidden;
}
.additional h4, .additional p {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.additional h4 {
    font-size: 16px;
}
.additional p.a {
    color: #888;
}
/*看过此楼盘的人还看过*/
.box-tjlp .bd {
    padding-top: 20px;
}
/*分页*/
.tab-comment .page {
    padding-top: 30px;
}
.tab-comment .page .prev, .tab-comment .page .next {
    display: inline-block;
    width: 98px;
    height: 22px;
    line-height: 22px;
    margin: 0 8px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.tab-comment .page .prev:hover, .tab-comment .page .next:hover {
    text-decoration: none;
    color: #fff;
    background: #888;
    border-color: #888;
}
.tab-comment .page span.disabled, .tab-comment .page span.disabled:hover {
    cursor: not-allowed;
    color: #333;
    background: none;
    border-color: #eaeaea;
}
/*推荐列表item*/
.recommend .media {
    width: 183px;
}
.recommend .media .pic {
    position: relative;
    margin-bottom: 0;
}
.recommend .media .pic, .recommend .media .pic img {
    width: 184px;
    height: 124px;
}
.recommend .media .price {
    width: auto;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 8px;
}
.recommend .media .text .name, .recommend .media .text .total {
    color: #666;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}
.recommend .media .text {
    height: 58px;
    font-weight: bold;
    background-color: #f8f8f8;
    padding: 10px 10px 0 10px;
}
.recommend .media .text, .recommend .media .text a {
    color: #333;
}
.recommend .media .text a {
    background: none;
}
/*基础信息*/
.row-baseinfo .col5-wrap {
    float: left;
    width: 1020px;
    overflow: hidden;
}
.row-baseinfo .col5 {
    width: 908px;
    padding: 22px 40px 40px;
    border: 1px solid #eaeaea;
}
.row-baseinfo .col5 .box {
    margin-bottom: 10px;
}
.row-baseinfo .col5 .box .hd {
    height: 56px;
    line-height: 56px;
}
.row-baseinfo .col5 .box .hd h2 {
    font-size: 18px;
}
.row-baseinfo .col5 .box .bd {
    padding-top: 10px;
}
.base-info-list li {
    clear: both;
    height: 34px;
    line-height: 34px;
}
.base-info-list li.remark {
    height: auto;
}
.base-info-list .th, .base-info-list .txt p {
    font-size: 14px;
    overflow: hidden;
}
.base-info-list .th {
    float: left;
    font-weight: bold;
    width: 105px;
}
.base-info-list li.remark .txt {
    overflow: hidden;
}
.base-info-list .txt p {
    float: left;
    color: #666;
    margin-right: 15px;
}
/*新增加标签*/
.base-info-list .txt-trait p{
    display: inline-block;
    border: 1px solid #BEC0C5;
    padding: 0 10px;
    height: 21px;
    line-height: 21px;
    margin-top: 5px;
}

.base-info-list .txt-on p {
    border: 1px solid #0074C1;
    color:#0074C1 ;
}

/*新增加标签*/

.base-info-list .tip-box {
    position: relative;
    float: left;
}
.base-info-list .tip-box .tips {
    position: absolute;
    width: 440px;
}
.base-info-list .tip-box .help-tips {
    display: none;
    position: relative;
    left: 12px;
    top: -20px;
    box-shadow: 0 0 5px #e7e7e7;
    width: 360px;
    line-height: 22px;
    padding: 15px 24px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    z-index: 20;
}
.base-info-list .tip-box .ico-tips {
    float: left;
    margin-top: 8px;
}
.ico-trangle {
    position: absolute;
    top: 26px;
    left: -8px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    z-index: 22;
}
.box-sale .ico-trend, .box-sale .ico-htype {
    float: left;
    margin: 8px 5px 0 0;
}
.box-sale .ico-htype {
    margin-top: 7px;
}
.box-sale .info-more a {
    color: #0074c1;
}
.row-baseinfo .house-details {
    margin-bottom: 30px;
}
.house-more-info {
    clear: both;
    text-align: right;
    height: 24px;
    line-height: 24px;
    margin-right: 30px;
    padding-top: 15px;
    overflow: hidden;
}
.house-more-info a {
    color: #888;
}
.house-more-info a:hover {
    color: #0074c1;
}
.house-more-info a:hover .ico-more {
    background-position: -40px -720px;
}
.row-baseinfo .col6 .box4 {
    margin-bottom: 30px;
}
.box-sub .bd {
    padding: 15px 0 22px;
}
.box-sub .info {
    color: #999;
    line-height: 18px;
    margin-bottom: 16px;
}
.box-sub .ipt {
    text-align: center;
    width: 114px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 14px;
    border-right: 1px solid #e4e4e4;
}
.box-sub .btn-dy {
    text-align: center;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.row-baseinfo .box-tjlp .media {
    margin-bottom: 15px;
}
.house-details .bd {
    overflow: visible;
}