/*楼盘轮播图*/
.view-focus {
    float: left;
    width: 590px;
    height: 408px;
    margin-right: 40px;
}
/* banner */
.banner {
    height: 408px;
}
.banner .ban_c, .banner .ban_c img {
    width: 590px;
    height: 408px;
    overflow: hidden;
}
.banner .ban_c img {
    position: absolute;
    left: 50%;
    margin-left: -295px;
    top: 0;
}
.banner .Left, .banner .Right {
    position: absolute;
    top: 184px;
    width: 40px;
    height: 40px;
    background: url(../images/bg-circle.png) no-repeat;
}
.banner .Left {
    left: 30px;
}
.banner .Right {
    right: 30px;
    background-position: -50px 0;
}
.bann_ext {
    display: none;
    position: relative;
}
.frontCover {
    position: absolute;
    top: -120px;
    padding: 0 0 16px;
    border-bottom: 5px solid #de0000;
}
.frontCover li {
    float: left;
    width: 82px;
    padding: 3px;
    background: #000;
    color: #fff;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}
.frontCover p {
    text-align: center;
    height: 14px;
    line-height: 18px;
    overflow: hidden;
}
.frontCover .img {
    position: relative;
    height: 50px;
    overflow: hidden;
}
.frontCover img {
    position: absolute;
    width: 192px;
    height: 50px;
    left: -50px;
}
.frontCover .open {
    background: #e60013;
}
.focus-num {
    position: absolute;
    right: 30px;
    bottom: 32px;
    color: #fff;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 14px;
}
.focus-num .ico-num {
    float: left;
    width: 22px;
    height: 18px;
    background-position: -40px -120px;
    margin-right: 10px;
}
/*幻灯片(组件)*/
.slide {
    position: relative;
    width: 100%;
}
.ban_c {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ban_t {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#88000000, endcolorstr=#88000000);
    z-index: 3;
}
.ban_nav {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    z-index: 4;
}
.ban_nav a {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    -webkit-text-size-adjust: none;
    background: #ccc;
}
.ban_nav .on {
    background: #f90;
    color: #fff;
}
.Left, .Right {
    cursor: pointer;
}