<!DOCTYPE HTML>
<html>
    <meta charset="utf-8" />
    <header>
        <title><%=title%></title>
    </header>
    <body>
        <form action="/form" method="post">
            <lable>发表新文章</lable>
            <textarea name="text" id="" cols="30" rows="5" title=""></textarea>
            <input type="submit" value="发表"/>
        </form>
        <div><%=message%></div>
    </body>
</html>