.media5 {
    width: 281px;
    height: 331px;
    border: solid 1px #ddd;
    overflow: hidden;
}
.media5 .pic {
    text-align: center;
    width: 281px;
    height: 240px;
    overflow: hidden;
}
.media5 .pic img {
    width: 100%;
    height: 240px;
}
.media5 .text {
    background-color: #f8f8f8;
    height: 71px;
    padding: 20px 30px 0 30px;
}
.media5 .text .row1, .media5 .text .row2 {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.media5 .text .row1 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.media5 .text .row1 .status {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    padding: 0 12px;
    margin-left: 12px;
    background: #6dafdc;
}
.media5 .text .lbl {
    float: left;
    font-weight: normal;
    margin-left: 15px;
    margin-top: 5px;
}
.media5 .text .row1 .sell-out {
    background-color: #aaa;
}
.media5 .text .row2 {
    font-size: 12px;
    color: #333;
}
.media5 .text .area {
    float: left;
    max-width: 110px;
    overflow: hidden;
}
.media5 .text .type-l {
    float: left;
    max-width: 90px;
    overflow: hidden;
}
.media5 .text .type-r {
    float: right;
}
.media5 .name {
    position: absolute;
    left: -1px;
    top: 211px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 285px;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 2;
}
.media5:hover .name {
    top: 210px;
    left: -2px;
}
.house-analysis .type-list {
    overflow: hidden;
    border-bottom: solid 1px #e4e4e4;
}
.house-analysis .type-list a {
    display: block;
    height: 100%;
    padding: 0 20px;
}
.house-analysis .type-list .active {
    background-color: #888;
}
.house-analysis .type-list .active a {
    color: #fff;
}
.house-analysis .type-list li {
    float: left;
    height: 24px;
    line-height: 24px;
}
.house-analysis .house-list {
    padding: 20px 0 10px 0;
    min-width: 1220px;
    overflow: hidden;
}
.house-analysis .house-list .media5 {
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    padding: 1px;
}
.house-analysis .house-list .media5:hover {
    padding: 0;
    border: solid 2px #6dafdc;
}
.house-analysis .house-list .media5:last-child {
    margin-right: 0;
}
/*单个户型*/
.house-analysis .house-tags {
    padding-top: 30px;
}
.house-analysis .tags {
    overflow: hidden;
    margin-bottom: 10px;
}
.house-analysis .tags li {
    float: left;
    font-size: 12px;
    color: #e4e4e4;
    margin-right: 15px;
}
.house-analysis .tags li a {
    font-size: 12px;
    color: #333;
}
.house-analysis .tags .active a {
    color: #0074c1;
    font-weight: bold;
}
.house {
    padding: 40px 0;
    border: solid 1px #e4e4e4;
    overflow: hidden;
}
.house .banner {
    float: left;
    width: 715px;
    margin-right: 40px;
}
.house .des {
    float: left;
    width: 364px;
    padding-left: 40px;
    border-left: dashed 1px #e4e4e4;
    overflow: hidden;
}
.house .des-info .hd {
    padding: 0 0 20px 0;
    border-bottom: solid 1px #e4e4e4;
}
.house .des-info .info {
    margin: 10px 0;
}
.house .des-info .key, .house .des-info .refer .value, .house .des-info .refer .ico {
    float: left;
}
.house .des-info .info .key {
    min-width: 60px;
    word-spacing: 20px;
    text-align: justify;
}
.house .des-info .refer .know {
    font-size: 12px;
    color: #0098D8;
    margin-left: 10px;
}
.house .des-info .status {
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    background-color: #73b5e8;
}
.house .des-info .type {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.house .des-info li {
    font-size: 12px;
    color: #888;
    height: 24px;
    line-height: 24px;
}
.house .des-info .value {
    font-size: 12px;
    color: #333;
    min-width: 90px;
}
.house .des-info .price {
    color: #e85045;
}
.house .des-analysis {
    padding-top: 30px;
}
.house .des-analysis .hd {
    padding-bottom: 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #e4e4e4;
}
.house .des-analysis .bd {
    padding-top: 15px;
}
.house .des-analysis .bd .content {
    color: #333;
    font-size: 12px;
    line-height: 24px;
}
.entry {
    margin-top: 35px;
    padding: 15px 20px;
    border: solid 1px #e4e4e4;
}
.entry p {
    color: #888;
    font-size: 12px;
}
.entry .title {
    font-weight: bold;
    margin-bottom: 10px;
}
.entry .hot-line {
    margin-top: 6px;
}
.entry .hot-line .phone {
    font-size: 16px;
    font-weight: bold;
    color: #e85045;
}
.entry .ico-phone {
    float: left;
    margin: 8px 8px 0 0;
}
.entry .btn {
    font-weight: normal;
}
/*输入框*/
.house .des .entry .ipt {
    float: left;
    color: #b7b7b7;
    width: 186px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 1px solid #e4e4e4;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    background: #fff;
    overflow: hidden;
}
/*免费咨询*/
.ipt-area .tips {
    display: none;
}
.ipt-area .error-tips {
    color: #f20;
}
.ipt-area .right-tips {
    color: #119a11;
}