/*layer弹层*/
.layer-boxs{
    width: 600px;
}
.layer-boxs .ly-close{
    float: right;
    width: 40px;
    height: 40px;
    background: url("../images/input_clear_type.png") no-repeat;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.layer-boxs .hd{
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
}
.layer-boxs .hd h2{
    float: left;
    font-size: 22px;
    color: #333;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}
.layer-boxs .bd{
    height: 290px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}
.layer-boxs .bd .bd-l{
    float: left;
    width: 300px;
}
.layer-boxs .bd .bd-lcont{
    margin: 30px 20px;
}
.layer-boxs .bd .bd-lcont h4{
    font-size: 16px;
    color: #666;
}
.layer-boxs .bd .bd-lcont .user-info{
    margin-top: 20px;
    overflow: hidden;
}
.layer-boxs .bd .bd-lcont .user-info li{
    overflow: hidden;
    height: 70px;
}
.layer-boxs .bd .ipt-area{
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}
.layer-boxs .bd .ipt-area input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border: none;
    color: #999999;
}
.layer-boxs .bd .ipt-area input::-webkit-input-placeholder{
    color: #999;
}
.layer-boxs .bd .v-code{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color:rgba(72, 179, 226, .2);
    border: 1px solid #48B3E2;
}
.layer-boxs .bd .v-code a{
    text-decoration: none;
    color: #48B3E2 ;
    opacity: 1;
    font-size: 16px;
}
.layer-boxs .bd .bd-lcont .layer-btn-area{
    text-align: center;
    width: 260px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    background-color:#48B3E2;
    border-radius:2px;
}
.layer-boxs .bd .bd-lcont .layer-btn-area a{
    display:block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.blc-suc{
    overflow: hidden;
    margin: 115px 0;
}
.blc-suc img{
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.blc-suc .bd-appdowm{
    float: left;
    width: 176px;
    height: 60px;
    line-height:30px;
    font-size: 16px;
    color: #333;
}
.bd-r{
    float: left;
}
.layer-boxs .bd .bd-r{
    width: 300px;
}
.layer-boxs .bd .bd-rcont{
    margin: 20px 0;
    height: 250px;
    text-align: center;
    border-left: 1px solid #DFDFDF;
}
.layer-boxs .bd .bd-rcont img{
    margin-top: 42px;
    margin-bottom: 5px;
}
.layer-boxs .bd .bd-rcont .bd-appdowm{
    margin: 0 auto;
    width:128px;
    height: 44px;
    line-height: 22px;
    font-size: 16px;
    color: #666;
}

/*提示文字*/
.layer-boxs .user-info li .tips-ipt{
    display: block;
    clear: both;
    color: #E85045;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    padding-left: 12px;
    overflow: hidden;
}