/*点评列表*/
.container {
    min-height: 100%;
    background: #f8f8f8;
}
.review-list {
    padding: 0.2667rem;
    margin-top: .94rem;
}
.review {
    margin-bottom: 0.2667rem;
    padding: 0.2667rem;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}
.review .face img {
    width: 1.33rem;
    height: 1.33rem;
    margin-bottom: 0.14rem;
}
.review .face, .review .text {
    float: left;
}
.review .face {
    width: 1.33rem;
    margin-right: 0.2667rem;
}
.review .face img {
    border-radius: 50%;
}
.review .text {
    width: 7.33rem;
}
.review .text .user-info {
    margin-bottom: 0.17rem;
}
.review .text .user-info .name {
    font-size: 0.37rem;
    color: #666;
    margin-right: 0.26rem;
}
.review .text .user-info .tag {
    font-size: 0.32rem;
    color: #48B3E2;
    padding: 0 0.09rem;
    border: solid 1px #8ACEEC;
}
.review .text .house-info {
    font-size: 0.37rem;
    color: #999;
    margin-bottom: 0.17rem;
}
.review .text .house-info .name {
    color: #48b3e2;
}
.review .text .level {
    font-size: 0.29rem;
    color: #999;
    margin-bottom: 0.12rem;
}
.review .text .level .des {
    padding-right: .13rem;
}
.review .text .level .star {
    width: .25rem;
    height: .25rem;
    background: url("../../images/app/ico-star.png") no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    overflow: hidden;
}
.review .text .level .star-nc {
    background: url("../../images/app/ico-star-nc.png") no-repeat;
    background-size: 100% 100%;
}
.review .text .detail {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    font-size: 0.34rem;
    color: #666;
    max-height: 1.5rem;
    line-height: 0.53rem;
    margin-bottom: 0.26rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.review .text .detail-more {
    display: block;
    max-height: none;
}
.review .text .pic-area {
    width: 7.8rem;
    overflow: hidden;
}
.review .text .pic-area li, .review .text .pic-area li img {
    width: 2.16rem;
    height: 1.45rem;
}
.review .text .pic-area li {
    float: left;
    margin: 0 0.42rem 0.26rem 0;
}
/*showmaore*/
.show-more {
    display: none;
    text-align: center;
}
.ico-showmore {
    width: .33rem;
    height: .19rem;
    background: url("../../images/app/ico-more-down.png") no-repeat;
}
.show-more-display .ico-showmore {
    transform: rotate(180deg);
}
.ico {
    display: inline-block;
    background-size: 100% 100%;
    overflow: hidden;
}
.review-opt {
    font-size: .32rem;
    color: #999;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.review-opt .date {
    float: left;
}
.review-opt .zan {
    float: right;
}
.review-opt .zan .ico-zan {
    float: left;
    width: .5rem;
    height: .5rem;
    background: url("../../images/app/ico-zan.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.review-opt .zan .ico-zan-nc {
    background: url("../../images/app/ico-zan-nc.png") no-repeat;
    background-size: 100% 100%;
}
.review-opt .zan .num {
    float: left;
    overflow: hidden;
}
.reviews .review-opt .zan .num {
    padding-left: .2rem;
    height: 0.5rem;
    line-height: 0.55rem;
}
/*成交点评样式*/
.bargain .review .face {
    width: 1.6rem;
    text-align: center;
}
.bargain .review .text {
    width: 7.06rem;
}
.bargain .review .text .pic-area li{
    margin: 0 .29rem .26rem 0;
}
.bargain .review .text .house-info {
    margin: 0;
}
/*逻辑错误点评*/
.comment-error, .comment-error .text {
    clear: both;
    overflow: hidden;
}
.comment-error {
    text-align: center;
    padding-top: 1.6rem;
    margin-top: .94rem;
}
.comment-error .pic {
    width: 5.88rem;
    height: 3.4rem;
    margin: 0 auto 0.4rem;
    background: url("../../images/app/bg-app-comment-error.png") 0 0 no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.comment-error .text {
    margin-bottom: 0.36rem;
}
.comment-error .text p {
    color: #bbb;
    font-size: 0.32rem;
    line-height: 0.45rem;
}
.comment-error .text p.font-bold {
    color: #999;
    font-size: 0.4267rem;
    margin-bottom: 0.146rem;
}
/*成交点评样式*/
.bargain .review-opt {
    overflow: hidden;
    font-size: .32rem;
    color: #999;
    margin: .24rem 0;
}
.bargain .review-opt .time {
    float: left;
}
.bargain .face span {
    display: block;
    margin-bottom: .13rem;
    text-align: center;
    color: #666;
}
.bargain .face .face-consult {
    display: inline-block;
    font-size: 0.32rem;
    color: #48B3E2;
    width: 1.6rem;
    height: 0.66rem;
    line-height: 0.66rem;
    border: 1px solid #48B3E2;
    box-sizing: border-box;
    overflow: hidden;
}
.bargain .review-opt .zan .num {
    color: #333;
}
.bargain .review .text .detail {
    margin-bottom: 0;
}
.bargain .review-opt .zan .ico-face {
    float: left;
    width: .45rem;
    height: .45rem;
    margin-right: .13rem;
}
.bargain .review-opt .zan .icon-face-yb {
    background: url('../../images/app/icon-face-yb.png') no-repeat;
    background-size: 100% 100%;
}
.bargain .review-opt .zan .icon-face-v {
    background: url('../../images/app/icon-face-v.png') no-repeat;
    background-size: 100% 100%;
}
.bargain .review-opt .zan .icon-face-no {
    background: url('../../images/app/icon-face-no.png') no-repeat;
    background-size: 100% 100%;

}
/*成交点评样式*/
/*行程点评*/
.journey .review .face, .journey .review .face img {
    width: 2.66rem;
    height: 3.546rem;
}
.journey .review .face img {
    border-radius: 0;
}
.journey .review .text {
    width: 6rem;
}
.journey .review-opt {
    margin: .18rem 0 .12rem 0;
}
.journey .review .text .detail {
    margin-top: .1rem;
}
.journey .review-opt .time {
    float: left;
}
.journey .counselor {
    overflow: hidden;
    font-size: .32rem;
}
.journey .counselor span {
    float: left;
    color: #666;
}
.journey .counselor .c-name {
    float: right;
    width: 3.84rem;
    line-height: .53rem;
}
.journey .counselor .c-name, .journey .counselor .c-name a {
    color: #48B3E2;
}
.journey .show-more {
    margin-top: .2rem;
}
.remark-xc .review .text {
    width: 6.96rem;
}
/*行程点评*/
/*我的赞页面咨询师点评 添加  counselor 分类*/

.counselor .review .text .house-info {
    margin-bottom: .2rem;
}
.counselor .review .text .detail {
    margin-bottom: .26rem;
}
.counselor .review-opt {
    margin: .32rem 0;
}
.counselor .review-opt .zan .num {
    color: #999;
    padding-left: .2rem;
    height: .5rem;
    line-height: .55rem;
}
/*我的赞页面咨询师点评 添加 counselor 分类*/
/*特工情报*/
.course-list {
    margin-bottom: 0.54rem;
}
.course-list .course img {
    width: 100%;
    height: 2.94rem;
}
/*提示弹框*/
.prop-msg {
    position: fixed;
    display: none;
    width: 5.34rem;
    height: 2.67rem;
    margin: -1.335rem 0 0 -2.67rem;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background: rgba(0, 0, 0, .8);
}
.prop-msg .msg-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.prop-msg .ico {
    width: .66rem;
    height: .66rem;
    margin-right: 0.4rem;
    background: url(../../images/icon-msg.png) no-repeat;
    background-size: 100% 100%

}
.prop-msg .text {
    width: 3.06rem;
    font-size: 0.37rem;
    color: #fff;
    text-align: left;
}
/*shade*/
.shade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
}
.shade-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
}
.shade-h{
    width: 100%;
    height: 1.3rem;
    background: rgba(0,0,0,.5);
}
.shade a{
    position: absolute;
    top: .4rem;
    left: .4rem;
    width:.4rem;
    height: .4rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform:rotate(45deg);
    z-index: 102;
}
/*shade*/
/*p-information-flow*/
.p-information-flow{
    margin-top: .94rem;
}
.p-information-flow .center{
    padding-top: .26rem
}
