@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}
ul, li, ol {
    list-style: none;
}
.container {
    position: relative;
    width: 10rem;
    margin: 0 auto;
    overflow: hidden;
}
.container-app-download {
    background: url("../images/bg-appdownload-footer.png") center bottom no-repeat;
    background-size: 100%;
}
.header {
    text-align: center;
    height: 2.8rem;
    margin-bottom: 0.4rem;
    padding-top: 0.267rem;
    overflow: hidden;
}
.app-donwload-pic {
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: 0.13rem;
    overflow: hidden;
}
.header .text {
    color: #48b3e2;
    overflow: hidden;
}
.header .text h4 {
    font-size: 0.423rem;
    font-weight: normal;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-bottom: 0.07rem;
    overflow: hidden;
}
.header .text p {
    font-size: 0.293rem;
    height: 0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
}
.btn-area {
    text-align: center;
    margin-bottom: 0.4rem;
}
.btn-appdownload {
    display: block;
    font-size: 0.4266rem;
    color: #fff;
    width: 8rem;
    height: 1.1733rem;
    line-height: 1.1733rem;
    margin: 0 auto;
    background: #48b3e2;
    border-radius: 0.053rem;
    overflow: hidden;
}
.center {
    height: 8.9rem;
    margin-bottom: 0.25rem;
    background: url("../images/bg-appdownload-main.png") 0 0 no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.footer {
    text-align: center;
    height: 3.06rem;
    overflow: hidden;
}
.footer .text{
    color: #48b3e2;
    font-size: 0.32rem;
    line-height: 0.44rem;
    margin-bottom: 0.93rem;
}
.footer .text:after{
    clear: both;
    display: block;
    content: "";
}
.footer .copyright {
    color: #7bcef2;
    font-size: 0.2933rem;
}
.footer .copyright .website {
    font-size: 0.2933rem;
    padding-top: 0.16rem;
}
/*2017.2.13 分享提示承接页 begin*/
.share {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}
.ico-sharea {
    position: fixed;
    top: 1.13rem;
    right: 0.8rem;
    width: 2.25rem;
    height: 1.81rem;
    background: url("../images/ico-share.png") 0 0 no-repeat;
    background-size: 100%;
}
.share-text {
    position: fixed;
    top: 3.76rem;
    left: 0;
    text-align: center;
    width: 100%;
}
.share-text p {
    font-size: 0.4rem;
    height: 0.56rem;
    line-height: 0.56rem;
    margin-bottom: 0.2667rem;
}
.share-text p .b {
    font-size: 0.43rem;
}
.ellipsis {
    display: inline-block;
    vertical-align: middle;
    width: 0.533rem;
    height: 0.1333rem;
    margin-left: 0.1rem;
    background: url("../images/ico-ell.png") 0 0 no-repeat;
    background-size: 100%;
}
.share-android .ellipsis {
    width: 0.08rem;
    height: 0.32rem;
    background-image: url("../images/ico-ell2.png");
    background-size: 100%;
}
/*2017.2.13 分享提示承接页 end*/
/*2017.07.07 底部公司信息开始*/
.footer-bar{
    height: 0.93rem;
    padding-top: 0.24rem;
    background-color: #48b3e2;
}
.footer-bar p {
    text-align: center;
    color: #fff;
    font-size: 0.24rem;
    height: 0.36rem;
    line-height: 0.36rem;
    overflow: hidden;
}
/*2017.07.07 底部公司信息结束*/
