/*公共样式*/
.feed .row {
    width: 9.33333333rem;
    margin: 0 auto;
    clear: both;
    padding-bottom: 0.4rem;
}

.feed .hd h2 {
    font-size: 0.48rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.4rem;
}

.feed .bd {
    clear: both;
}

.show-more {
    text-align: center;
    cursor: pointer;
    margin-top: .25rem;
}

.ico-showmore {
    width: .38rem;
    height: .19rem;
    background-image: url(../images/ico-more-down.png);
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear; /* Firefox 4 */
    -webkit-transition: all 0.2s linear; /* Safari 和 Chrome */
    -o-transition: all 0.2s linear;
    transform-origin: 50% 50%;
    -ms-transform-origin:  50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
}

.feed .inp-vessel {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.feed .ipt {
    padding: 0 .5rem;
    width: 7rem;
    height: 100%;
    font-size: .37rem;
    background-color: #fafafa;
    border: none;
}

.feed .btn-a {
    font-size: .4rem;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.feed .lbs{
    vertical-align: middle;
}
/*公共样式*/

/*show_more*/
.change-show {
    max-height: none !important;
    height: auto !important;
    white-space: normal !important;
    display: block!important;
}

.show-more-open .ico-showmore {
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);   /* IE 9 */
    -moz-transform:rotate(180deg);   /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}
/*show_more*/

.feed {
    background-color: #f5f5f5;
}

.feed-header {
    position: relative;
    margin-bottom: .65rem;
    overflow: hidden;
}

.feed-header img {
    display: block;
    width: 100%;
}

.feed-header .feed-survey {
    position: absolute;
    top: .5rem;
    left: 2rem;
}

.feed-header h1 {
    position: relative;
    text-align: center;
    font-size: .586rem;
    font-family: Arial;
    font-weight: 400;
}

.feed-header p {
    position: relative;
    margin: .2rem 0 2.5rem 0;
    text-align: center;
    font-size: .26rem;
    color: #666;
}

.feed-header .fh-input {
    position: absolute;
    left: .25rem;
    bottom: .5rem;
    width: 9.5rem;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.feed-hlogo .feed-header .fh-input{
    bottom: 1.68rem;
}
.feed-header .fh-input .inp-vessel-all {
    width: 8.5rem;
    margin: .6rem auto;
    overflow: hidden;
}

.feed-header .fh-input .inp-vessel-all .inp-vessel {
    width: 8.5rem;
    height: 1.04rem;
    box-sizing: border-box;
}
.feed-header .fh-input .inp-vessel-all .inp-vessel .ipt{
    width: 7.45rem;
}

.feed-header .fh-input a {
    margin-top: 0.265rem;
    width: 3.7rem;
    height: 1.1rem;
    line-height: 1.1rem;
}

.feed-header .fh-input .input-f {
    float: left;
    background-color: #0599d9;
}

.feed-header .fh-input .input-l {
    float: right;
    background-color: #ff6d6f;
}

.feed .feed-header .fh-input .btn-a{
    width: 4.1rem;
    height: 1.06rem;
}

/*center*/
.cb-item {
    position: relative;
    margin-bottom: 0.25rem;
}

.cb-item img {
    display: block;
    width: 9.33333333rem;
    height: 5.06666667rem;
}

.cb-item .describe {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    height: 1.6rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.cb-item .describe .de-hd, .cb-item .describe .de-bd {
    margin: 0 .25rem;
    overflow: hidden;
}

.cb-item .describe .de-hd{
    height: .6rem;
    line-height: .6rem;
    margin-top: .15rem;
}
.cb-item .describe .de-bd{
    height: .75rem;
    line-height: .75rem;
}

.cb-item .describe .de-bd .de-qy {
    margin-right: .7rem;
}

.cb-item .describe .de-hd h3 {
    float: left;
    font-size: 0.4rem;
    font-weight: 700;
}

.cb-item .describe .de-hd .de-hd-price {
    float: right;
    font-size: 0.4rem;
    font-weight: 700;
    color: #ff6e72;
}

.cb-item .describe .de-bd {
    font-size: .32rem;
    color: #fff;
}

.cb-item .describe .de-bd .de-bd-qy {
    margin-right: .73rem;
}

/*楼盘动态*/
.cb-item .dynamic {
    padding-top: .36rem;
}

.cb-item .cb-item-news {
    background-color: #fff;
    padding: 0 0.26666667rem;
    padding-bottom: .3rem;
}

.cb-item .cb-item-news .cb-input {
    padding-top: .3rem;
    overflow: hidden;
}

.cb-item .cb-item-news .cb-input .inp-vessel {
    float: left;
    height: 1.04rem;
}

.cb-item .cb-item-news .cb-input .ipt {
    padding: 0 .5rem;
    width: 4.5rem;
}

.cb-item .cb-item-news .cb-input a {
    float: right;
    padding: 0 .2rem;
    height: 1.06666667rem;
    line-height: 1.1rem;
    background-color: #ff6d6f;
}

.center {
    margin-top: .5rem;
}

.center .dynamic .dy-new h3 {
    font-size: 0.34666667rem;
    color: #333;
    font-weight: 700;
}

.center .dynamic .dy-tj {
    font-size: 0.32rem;
    color: #333;
}

.center .dynamic .dy-date {
    font-size: 0.29333333rem;
    color: #999;
}

.center .dynamic .dy-new h3, .center .dynamic .dy-tj, .center .dynamic .dy-date {
    margin-bottom: .1rem;
}

.center .dynamic .dy-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 1rem;
    -webkit-box-orient: vertical;
    font-size: 0.29333333rem;
    color: #666;
    overflow: hidden;
}

.center .dynamic .dy-content p {
    line-height: 0.50666667rem;
}

/*没有心仪的楼盘*/
.feed .mind .bd {
    padding: 0.56rem 0.26666667rem;
    background-color: #fff;
}

.feed .mind .bd .inp-vessel-all {
    width: 8.8rem;
    margin: 0 auto;
}

.feed .mind .bd .inp-vessel {
    position: relative;
    margin-bottom: .26666667rem;
    height: 1.04rem;
    box-sizing: border-box;
    overflow: hidden;
}
.feed .mind .bd .inp-vessel .ipt{
    width: 7.8rem;
}

.feed .mind .bd .inp-vessel-all .inp-vessel span {
    display: block;
    position: absolute;
    top: 0.3rem;
    right: .44rem;
    font-size: .35rem;
    color: #666;
}

.feed .mind .bd .btn-a {
    display: block;
    margin: 0 auto;
    height: 1.06666667rem;
    line-height: 1.06666667rem;
    background-color: #ff6d6f;
}
/*footer*/
.footer{
    width: 9.33333333rem;
    margin: 0 auto;
    margin-bottom: 10px;
    height: .93rem;
    background-color: #464754;
}
.footer h3{
    padding: .24rem .32rem 0;
    font-size: .26rem;
    height: .37rem;
    line-height: .37rem;
    color: #878787;
    font-weight: 400;
    overflow: hidden;
}