/*资讯详情页*/
.center {
    padding-bottom: 1.8rem;
}
.news-detail {
    clear: both;
    width: 9.36rem;
    margin: 0 auto;
    padding-top: 0.56rem;
    overflow: hidden;
}
.news-detail .title {
    text-align: center;
}
.news-detail .title h1 {
    font-size: 0.4rem;
    line-height: 0.6rem;
    margin-bottom: 0.16rem;
}
.news-detail .title .date {
    font-size: 0.32rem;
    color: #888;
}
.news-detail .content {
    padding-top: 0.6rem;
}
.news-detail .content img {
    width: 100%;
}
.news-detail .content .text-area {
    clear: both;
    padding-top: 0.7rem;
    overflow: hidden;
}
.news-detail .content p {
    font-size: 0.35rem;
    color: #666;
    line-height: 0.6rem;
    margin-bottom: 0.7rem;
}
.news-info .source, .news-info .click {
    float: right;
    margin-right: 0.32rem;
}
.news-info .source a {
    color: #48b3e2;
}
/*咨询列表*/
.tab-news .tab-t ul{
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}
.tab-news .tab-t ul li{
    float: left;
    height: .5333rem;
    line-height: .533rem;
    text-align: center;
    width: 3.3rem;
    margin: .266rem 0;
    font-size: .346rem;
}
.tab-news .tab-t .tab-on{
    color: #48b3e2;
}
.tab-news .tab-t ul .t-sel{
    border-right: 1px solid #e6e6e6;
}
.tab-news .tab-t ul .last{
    border-left: 1px solid #e6e6e6;
}
.tab-news .nrpart .n-media{
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}
.tab-news .nrpart .media-on{
   background-color: #f5f5f5;
}
.tab-news .nrpart .n-media a{
    display: block;
    overflow: hidden;
    padding: .5333rem 0.32rem;
}
.tab-news .nrpart .n-media .pic{
    width: 2.66667rem;
    height: 2.1333rem;
    float: left;
}
.tab-news .nrpart .n-media .pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.tab-news .nrpart .n-media .text{
    float: right;
    padding-left: .44rem;
    width: 6.16rem;
    height: 2.13rem;
}
.tab-news .nrpart .n-media .text .name{
    padding-bottom: .35rem;
}
.tab-news .nrpart .n-media .text .name h4{
    width: 6rem;
    font-size: .346rem;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.tab-news .nrpart .n-media .text .date{
    font-size: .2933rem;
    line-height: .29333rem;
    padding-bottom: .4rem;
}
.tab-news .nrpart .n-media .text .nlb-area .nlb{
    font-size: .2933rem;
    display: inline-block;
    padding: 3px .12rem;
    margin-bottom: 1rem;
    margin-right: .266rem;
    border-radius: 3px;
}
.tab-news .nrpart .n-media .text .nlb-area .nlb-1{
    background-color: #e1e3ff;
    color: #5f9bff;
}
.tab-news .nrpart .n-media .text .nlb-area .nlb-2{
    background-color: #e7f8ff;
    color: #5fc3d7;
}
.tab-news .nrpart .n-media .text .nlb-area .nlb-3{
    background-color: #fff0f0;
    color: #eb8686;
}
.tab-news .nrpart .n-media .text .nlb-area .nlb-4{
    background-color: #e4ffed;
    color: #64bb79;
}
/*点评按钮*/
.link-comment {
    position: fixed;
    bottom: 2rem;
    right: .66rem;
    width: .97rem;
    height: .97rem;
    border-radius: 50%;
    color: #fff;
    background: url(../images/to-top.png) no-repeat rgba(51,51,51,.8);
    background-size: .345rem, .4rem;
    background-position: 50%;
}

