.ico {
    display: inline-block;
    text-indent: -9999px;
    background: url("../images/ico-left.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico-return {
    width: 0.2667rem;
    height: 0.4533rem;
}
.ico-home {
    width: 0.56rem;
    height: 0.4667rem;
    background-image: url("../images/ico-home.png");
}
.ico-home2 {
    width: 0.4rem;
    height: 0.373rem;
    margin: 0.28rem 0.2rem 0 0;
    background-image: url("../images/ico-home2.png");
}
.ico-call, .ico-call2 {
    width: 0.4rem;
    height: 0.4rem;
}
.ico-call {
    background-image: url("../images/ico-phone9.png");
}
.ico-call2 {
    margin: 0 0.12rem 0 0;
    vertical-align: text-bottom;
    background-image: url("../images/ico-call2.png");
}
.ico-close {
    width: .3rem;
    height: .3rem;
    background-image: url("../images/ico-close.png");
}
.ico-yy {
    width: 0.4rem;
    height: 0.43rem;
    background-image: url("../images/ico-online2.png");
}
.ico-att {
    display: block;
    width: 0.42rem;
    height: 0.33rem;
    margin: 0.26rem auto 0;
    background-image: url("../images/ico-att2.png");
}
.ico-down, .ico-down2 {
    vertical-align: middle;
}
.ico-down {
    width: .26rem;
    height: 0.13rem;
    background-image: url("../images/ico-down9.png");
}
.ico-down2 {
    width: 0.28rem;
    height: 0.16rem;
    background-image: url("../images/ico-down-n.png");
}
.ico-star {
    background-image: url("../images/ico-star.png");
}
.ico-hot {
    background-image: url("../images/ico-hot.png");
}
.ico-user, .ico-user2 {
    width: 0.4266rem;
    height: 0.453rem;
}
.ico-user {
    background-image: url("../images/ico-user.png");
}
.ico-user2 {
    margin-top: .21rem;
    background-image: url("../images/ico-user2.png");
}
.ico-more {
    width: 0.16rem;
    height: 0.293rem;
    background-image: url("../images/ico-right.png");
}
.ico-find, .ico-find2, .ico-find3 {
    width: 0.3866rem;
    height: 0.3733rem;
}
.ico-find {
    vertical-align: middle;
    background-image: url("../images/ico-find6.png");
}
.ico-find2 {
    background-image: url("../images/ico-find2.png");
}
.ico-find3 {
    background-image: url("../images/ico-find9.png");
}
.ico-camera {
    width: 0.43rem;
    height: 0.38rem;
    margin: 0 auto 0.05rem;
    background-image: url("../images/ico-camera.png");
}
.ico-better {
    background: url("../images/ico-better.png") no-repeat;
    background-size: 100% 100%;
}
.user-chk-on .ico-better {
    background: url("../images/ico-better-on.png") no-repeat;
    background-size: 100% 100%;
}
.ico-good {
    background: url("../images/ico-good.png") no-repeat;
    background-size: 100% 100%;
}
.user-chk-on .ico-good {
    background: url("../images/ico-good-on.png") no-repeat;
    background-size: 100% 100%;
}
.ico-bad {
    background: url("../images/ico-bad.png") no-repeat;
    background-size: 100% 100%;
}
.user-chk-on .ico-bad {
    background: url("../images/ico-bad-on.png") no-repeat;
    background-size: 100% 100%;
}
.ico-num {
    width: 0.3333rem;
    height: 0.2933rem;
    background-image: url("../images/ico-num.png");
}
.ico-price, .ico-notice {
    width: 0.43rem;
    height: 0.43rem;
}
.ico-price {
    background-image: url("../images/ico-price.png");
}
.ico-notice {
    background-image: url("../images/ico-kp.png");
}
.ico-dis {
    width: 0.85rem;
    height: 0.85rem;
    margin: 0.22rem 0.26rem 0 0;
    background-image: url("../images/ico-yh.png");
}
.map-nav li .ico {
    width: 0.95rem;
    height: 0.95rem;
    margin-bottom: 0.22rem;
}
.ico-edu {
    background-image: url("../images/ico-edu.png");
}
.ico-traffic {
    background-image: url("../images/ico-traffic.png");
}
.ico-medical {
    background-image: url("../images/ico-medical.png");
}
.ico-shopping {
    background-image: url("../images/ico-shopping.png");
}
.ico-shopping2 {
    width: .36rem;
    height: .4rem;
    background-image: url(../images/r-shopping2.png);
}
a:hover .ico-shopping2 {
    background: url(../images/r-shopping.png) no-repeat;
    background-size: 100% 100%;
}
.ico-medical2 {
    width: .46rem;
    height: .4rem;
    background-image: url(../images/r-medical2.png);
}
a:hover .ico-medical2 {
    background: url(../images/r-medical.png) no-repeat;
    background-size: 100% 100%;
}
.ico-traffic2 {
    width: .5rem;
    height: .36rem;
    background-image: url(../images/r-traffic2.png);
}
a:hover .ico-traffic2 {
    background-image: url(../images/r-traffic.png);
}
.ico-edu2 {
    width: .53333rem;
    height: .4rem;
    background-image: url(../images/r-edu2.png);
}
a:hover .ico-edu2 {
    background-image: url(../images/r-edu.png);
}
.ico-kan {
    width: .93rem;
    height: .93rem;
    background-image: url("../images/ico-kan.png");
}
.ico-zan {
    width: 0.35rem;
    height: 0.32rem;
    margin-top: 0.15rem;
    background-image: url("../images/ico-zan1.png");
}
.opt-yz .ico-zan {
    background-image: url("../images/ico-zan.png");
}
.ico-zx {
    width: 0.4rem;
    height: 0.42rem;
    margin: 0.12rem 0.12rem 0 0;
    vertical-align: sub;
    background-image: url("../images/ico-zx.png");
}
.ico-showmore {
    width: 0.38rem;
    height: 0.19rem;
    background-image: url("../images/ico-more-down.png");
}
.ico-chk {
    width: 0.48rem;
    height: 0.48rem;
    margin-right: 0.24rem;
    vertical-align: top;
    border-radius: 3px;
    background: url("../images/ico-chk.png") no-repeat;
    background-size: 100% 100%;
}
.user-chk-on .ico-chk {
    background: url("../images/ico-chk-on.png") no-repeat;
    background-size: 100% 100%;
}
.ico-xh {
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.2rem 0.12rem 0 0;
    background: url("../images/ico-xh.png") no-repeat;
    background-size: 100% 100%;
}
.change-down .ico-change {
    background: url("../images/ico-down.png") no-repeat;
    background-size: 100% 100%;
}
.ico-change {
    width: 0.15rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: url("../images/ico-up.png") no-repeat;
    background-size: 100% 100%;
}
.ico-close2 {
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/ico-close2.png") no-repeat;
    background-size: 100% 100%;
}
.ico-expand {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../images/ico-expand.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico-reduce {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../images/ico-reduce.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico-list {
    width: 2rem;
    height: 1.1rem;
    background: url("../images/ico-list.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico-map {
    width: 2rem;
    height: 1.1rem;
    background: url("../images/ico-map.png") 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico-dt{
    width: 0.34rem;
    height: 0.34rem;
    float: left;
    margin: 0.1rem 0.1rem 0 0;
    background: url("../images/ico-dt.png") no-repeat;
    background-size: 100%;
}
.ico-price2{
    width: 0.34rem;
    height: 0.34rem;
    float: left;
    margin: 0.1rem 0.1rem 0 0;
    background: url("../images/ico-price2.png") no-repeat;
    background-size: 100%;
}
.ico-special{
    width: 0.34rem;
    height: 0.34rem;
    float: left;
    margin: 0.1rem 0.1rem 0 0;
    background: url("../images/ico-special.png") no-repeat;
    background-size: 100%;
}
.ico-msg{
    width: 0.66rem;
    height: 0.66rem;
    background: url("../images/icon-msg.png") no-repeat;
    background-size: 100% 100%;
}
.ico-like{
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("../images/ico-like.png");
}
