<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="btn">发送</button>
    <script>
      $(".btn").click(function () {
          sendMail('1126245397@qq.com','这是测试邮件', 'Hi Amor,这是一封测试邮件')
      })
    </script>
  </body>
</html>
