<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key="Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
<div class="container">
    <!--资讯文章上下-->
    <div class="cmt cmt-article show-hide">
        <a href="#">
            <div class="pic-area">
                <img src="../images/component/img-article.jpg" alt="article">
            </div>
            <div class="content">
                <h3>北京房价怎么走？这是一篇非常深刻的解读！</h3>
                <div class="text change-area">位于嘉定生态居住示范区核心板块，1400万方嘉定郊野公园环绕，两条原生河流缠腰，生态环境比肩全球。周边配套有银行、邮局、超市、周边配套有银行周边配套有银行周边配套有银行周边配套有银行周边配套有银行</div>
            </div>
        </a>
        <div class="show-more">
            <span class="ico ico-showmore">展开更多</span>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/component/component.js"></script>
</body>
</html>