<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key="Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
<div class="container">
    <!--问卷-->
    <div class="cmt cmt-wj">
        <h3>除了以上内容外，您还需要哪些房产信息</h3>
        <textarea placeholder="请输入您想要了解的房产信息" class="text-area"></textarea>
        <div class="btn-area">
            <a href="javascript:void(0)" class="btn-commit">提交</a>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/component/component.js"></script>
</body>
</html>