<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件-新增风格标题</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <link rel="stylesheet" href="../css/hivideo.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key = "Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
@@include("../app/topbar/topbar.html")
<div class="container">
    <!--新增风格标题-->
    <div class="cmt cmt-title2">
        <a class="title" href="#">查看更多楼盘>></a>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/lib/layer/layer.js"></script>
<script src="../js/j-ui.js"></script>
<script src="../js/component/component.js"></script>
<script src="../js/hivideo.js"></script>
</body>
</html>