<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key="Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
<div class="container">
    <!--底部悬浮栏-->
    <div class="a-footer-layer">
        <ul class="a-nav">
            <li class="a-nav-down">
                <a href="#">
                    <span class="ico ico-down">下载app</span>
                    <span class="text">下载app</span>
                </a>
            </li>
            <li class="a-nav-yy">
                <a href="#">
                    <span class="ico ico-ld">留电咨询</span>
                    <span class="text">留电咨询</span>
                </a>
            </li>
            <li class="a-nav-call">
                <a href="#">
                    <span class="ico ico-call">电话沟通</span>
                    <span class="text">电话沟通</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/lib/layer/layer.js"></script>
<script src="../js/common.js"></script>
<script src="../js/component/component.js"></script>
</body>
</html>