<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key="Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
<div class="container">
    <!--悬浮留电-->
    <div class="a-footer-layer">
        <div class="cmt cmt-ld sus-ld">
            <input type="text" class="ipt" placeholder="请输入您的手机号">
            <a class="btn-dy" href="#">立即订阅</a>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/lib/layer/layer.js"></script>
<script src="../js/common.js"></script>
<script src="../js/component/component.js"></script>
</body>
</html>