<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <title>组件</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/module-new.css">
    <link rel="stylesheet" href="../css/component/component.css">
    <link rel="stylesheet" href="../css/hivideo.css">
    <script src="../js/lib/jwplayer/jwplayer.js"></script>
    <script src="../js/lib/jwplayer/jwpsrv.js"></script>
    <script>jwplayer.key = "Hs2OGjpirgjzcXQncwKYvud2Ex2yJZOVX4QPXw==";</script>
</head>
<body>
@@include("../app/topbar/topbar.html")
<div class="container">
    @@include("../app/header/header.html")
    <div class="cmt feed-header">
        <img src="../images/img-feed-beijing.png" alt="banner">

        <div class="fh-input">
            <div class="inp-vessel-all">
                <div class="inp-vessel">
                    <input class="ipt" placeholder="请输入您的手机号" type="text">
                </div>
                <a href="#" class="input-f btn-a">获取热销楼盘</a>
                <a href="#" class="input-l btn-a">订阅优惠楼盘</a>
            </div>
        </div>
    </div>
    <div class="cmt cmt-header">
        <a href="#">
            <img src="../images/component/img-header.jpg" alt="">
        </a>
    </div>
    <!--标题-->
    <div class="cmt cmt-title">
        <div class="con">
            <a class="title" href="#">上海热销楼盘楼盘楼盘</a>
        </div>
    </div>
    <!--楼盘信息-->
    <div class="cmt cmt-house">
        <a href="#">
            <div class="pic-area">
                <img src="../images/component/img-house.jpg" alt="house">
            </div>
            <div class="info-area">
                <div class="tr">
                    <h3 class="name">路劲上海院子</h3>

                    <div class="lb-area">
                        <span class="lbs lbs-will">待售</span>
                    </div>
                    <div class="price">128万-129万</div>
                </div>
                <div class="tr">
                    <div class="pla">嘉定-安亭汽车城</div>
                    <div class="bj">开发商报价：32000元/平米</div>
                </div>
                <div class="tr">
                    <div class="gz">
                        近三个月 <span class="num">103人</span>关注
                    </div>
                    <div class="dp">
                        7位专业咨询师点评
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!--动态-->
    <div class="cmt cmt-dt show-hide">
        <h3>路劲上海院子在售叠加别墅，均价约32000元/平</h3>

        <div class="time">2017-06-26</div>
        <div class="text change-area">
            路劲上海院子目前有联排别墅在售，建筑面积约为131平、143平，均价约为30000元/平；项目还有叠加别墅在售，建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12建筑面积约12
        </div>
        <div class="show-more">
            <span class="ico ico-showmore">展开更多</span>
        </div>
        <!--留电口-->
        <div class="cb-input">
            <div class="inp-vessel">
                <input class="ipt" placeholder="请输入您的手机号" type="text">
            </div>
            <a href="#" class="btn-a">订阅最新动态</a>
        </div>
    </div>
    <!--楼盘信息-->
    <div class="cmt cmt-house">
        <a href="#">
            <div class="pic-area">
                <img src="../images/component/img-house.jpg" alt="house">
            </div>
            <div class="info-area">
                <div class="tr">
                    <h3 class="name">路劲上海院子</h3>

                    <div class="lb-area">
                        <span class="lbs lbs-will">待售</span>
                    </div>
                    <div class="price">128万-129万</div>
                </div>
                <div class="tr">
                    <div class="pla">嘉定-安亭汽车城</div>
                    <div class="bj">开发商报价：32000元/平米</div>
                </div>
                <div class="tr">
                    <div class="gz">
                        近三个月 <span class="num">103人</span>关注
                    </div>
                    <div class="dp">
                        7位专业咨询师点评
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!--点评-->
    <div class="cmt cmt-dp show-hide">
        <div class="text change-area">
            位于嘉定生态居住示范区核心板块，1400万方嘉定郊野公园环绕，两条原生河流缠腰，生态环境比肩全球。周边配套有银行、邮局、超市超市超市超市超市超市超市超市超市超市超市超市超市超市超市超市
        </div>
        <div class="dp-zxs">
            <div class="zxs-info">
                <div class="face">
                    <img src="../images/img-face.png" alt="">
                </div>
                <div class="name">刘可欣</div>
                <div class="date">2017-6-22</div>
            </div>
            <div class="btn-area">
                <a href="#" class="btn btn-online">
                    <span class="ico ico-msg"></span>
                    <span class="txt">在线咨询</span>
                </a>
                <a href="#" class="btn btn-tel">
                    <span class="ico ico-tel"></span>
                    <span class="txt">打电话</span>
                </a>
            </div>
        </div>
        <div class="show-more">
            <span class="ico ico-showmore">展开更多</span>
        </div>
    </div>
    <!--留电-->
    <div class="cmt cmt-mobile cmt-mobile-no-gap">
        <div class="cb-input">
            <div class="inp-vessel">
                <input class="ipt" placeholder="请输入您的手机号" type="text">
            </div>
            <a href="#" class="btn-a">订阅最新动态</a>
        </div>
    </div>
    <!--标题-->
    <div class="cmt cmt-title">
        <div class="con">
            <a class="title" href="#">上海热销户型</a>
        </div>
    </div>
    <!--户型-->
    <div class="cmt cmt-hx">
        <a href="#">
            <div class="pic-area">
                <img src="../images/component/img-hx.png" alt="">
            </div>
            <div class="des">
                <div class="tr">
                    <div class="type">2室2厅</div>
                    <div class="lb-area">
                        <span class="lbs lbs-will">待售</span>
                    </div>
                    <div class="total">
                        <span class="txt">总价：</span>
                        <span class="num">276万</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="area">
                        面积：建面69m2
                    </div>
                    <div class="price">
                        <span class="txt">单价：</span>
                        <span class="num">32000元/平</span>
                    </div>
                </div>
            </div>
        </a>

        <div class="btn-area">
            <a href="#" class="btn-more">了解更多户型信息</a>
        </div>
    </div>
    <!--咨询师-->
    <div class="cmt cmt-zxs">
        <div class="consultant-item show-hide">
            <a href="#">
                <div class="pic">
                    <img src="../images/img-consultant.jpg" alt=""/>
                </div>
            </a>

            <div class="consultant-bd">
                <div class="consultant-info">
                    <h4 class="name">赵之媛</h4>

                    <div class="lb-area">
                        <span class="lb lb1">乐观</span>
                        <span class="lb lb2">积极</span>
                        <span class="lb lb3">开朗</span>
                    </div>
                </div>
                <div class="sch">毕业于东北农业大学</div>
                <div class="number">
                    <p>咨询人数<em>2405人</em></p>
                    <p>满意度<em>99.24%</em></p>
                </div>
                <div class="note">
                    <h4>最新工作随笔</h4>

                    <div class="note-detail change-area">
                        侃家网是一家专做新房的互联网服务平台，我们的服务范围包括北京、上海、天津等城市的数百个合作楼盘。从我第一次打给您电话提供客观专业购房建议，到后续免费专车接送看房，都是一让您满意为最终目的。
                    </div>
                </div>
            </div>
            <div class="ser-online">
                <a class="ico ico-chat" href="#">在线咨询</a>
                <a class="ico ico-call3" href="#">免费热线</a>
            </div>
            <div class="show-more">
                <span class="ico ico-showmore">More</span>
            </div>
        </div>
    </div>
    <!--留电2-->
    <div class="cmt cmt-ld2">
        <input type="text" class="ipt" placeholder="请输入您的手机号">

        <div class="btn-area">
            <a class="btn btn-zx" href="#">立即咨询专业建议</a>
            <a class="btn btn-hq" href="#">立即获取免费服务</a>
        </div>
    </div>
    <!--标题-->
    <div class="cmt cmt-title">
        <div class="con">
            <a class="title" href="#">买房知识</a>
        </div>
    </div>
    <!--资讯文章上下-->
    <div class="cmt cmt-article show-hide">
        <a href="#">
            <div class="pic-area">
                <img src="../images/component/img-article.jpg" alt="article">
            </div>
            <div class="content">
                <h3>北京房价怎么走？这是一篇非常深刻的解读！</h3>

                <div class="text change-area">
                    位于嘉定生态居住示范区核心板块，1400万方嘉定郊野公园环绕，两条原生河流缠腰，生态环境比肩全球。周边配套有银行、邮局、超市、周边配套有银行周边配套有银行周边配套有银行周边配套有银行周边配套有银行
                </div>
            </div>
        </a>

        <div class="show-more">
            <span class="ico ico-showmore">展开更多</span>
        </div>
    </div>
    <!--资讯文章左右-->
    <div class="cmt cmt-article2">
        <a href="#">
            <div class="content">
                <h3>北京房价怎么走？这是一篇非常深刻的解读！</h3>

                <div class="text">位于嘉定生态居住示范区核心板块1400万方嘉定郊野公园环绕，两条原生河流缠腰，生态环境比肩全球。周边配套有</div>
            </div>
            <div class="pic-area">
                <img src="../images/component/img-article2.jpg" alt="article">
            </div>
        </a>
    </div>
    <!--投票-->
    <div class="cmt cmt-tp">
        <h3>两篇文章您觉得哪篇对您来说更有用？</h3>

        <div class="tp">
            <div class="tp-item">
                <span class="ico-check check-on"></span>
                <span class="con">第一篇实在是太有用了</span>
            </div>
            <div class="tp-item">
                <span class="ico-check"></span>
                <span class="con">第二篇实在是太有用了</span>
            </div>
        </div>
        <div class="btn-area">
            <a href="javascript:void(0)" class="btn-commit">提交</a>
        </div>
    </div>
    <!--问卷-->
    <div class="cmt cmt-wj">
        <h3>除了以上内容外，您还需要哪些房产信息</h3>
        <textarea placeholder="请输入您想要了解的房产信息" class="text-area"></textarea>

        <div class="btn-area">
            <a href="javascript:void(0)" class="btn-commit">提交</a>
        </div>
    </div>
    <!--标题-->
    <div class="cmt cmt-title">
        <div class="con">
            <a class="title" href="#">热点视频</a>
        </div>
    </div>
    <!--视频-->
    <div class="cmt cmt-video">
        <div class="play">
            <div id="myplayer" class="playerA" data-file="http://img.ksbbs.com/asset/Mon_1605/0ec8cc80112a2d6.mp4" data-poster="../images/component/img-video-back.jpg" data-duration="03:26">
            </div>
            <div class="duration-time"></div>
        </div>
        <div class="play">
            <div id="myplayer" class="playerB" data-file="http://img.ksbbs.com/asset/Mon_1605/0ec8cc80112a2d6.mp4" data-poster="../images/component/img-video-back.jpg" data-duration="03:26">
            </div>
            <div class="duration-time"></div>
        </div>
    </div>
    <!--悬浮电话-->
    <div class="sus">
        <a href="tel:400-035-2568"><img src="../images/component/img-call.png" alt="call"></a>
    </div>
    <!--悬浮留电-->
    <div class="a-footer-layer">
        <div class="cb-input">
            <div class="inp-vessel">
                <input class="ipt" placeholder="请输入您的手机号" type="text">
            </div>
            <a href="#" class="btn-a">立即订阅</a>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-2.1.4.min.js"></script>
<script src="../js/lib/layer/layer.js"></script>
<script src="../js/j-ui.js"></script>
<script src="../js/component/component.js"></script>
<script src="../js/hivideo.js"></script>
</body>
</html>