<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <title>组件－投票</title>
    <link rel="stylesheet" href="../../dist/css/common.css">
    <link rel="stylesheet" href="../css/component/component.css">
</head>
<body>
<!--投票组件-->
<div class="cmt cmt-tp">
    <div class="cmt-tpcont">
        <h3>两篇文章您觉得哪篇对您来说更有用？</h3>

        <div class="tp">
            <div class="tp-item">
                <span class="checked checked-on"></span>
                <span class="con">第一篇实在是太有用了</span>
            </div>
            <div class="tp-item">
                <span class="checked checked-on"></span>
                <span class="con">第二篇实在是太有用了</span>
            </div>
        </div>
        <div class="btn-area">
            <a href="javascript:void(0)" class="btn-commit">提 交</a>
        </div>
    </div>
</div>
</body>
</html>