<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <title>组件－点评</title>
    <link rel="stylesheet" href="../../dist/css/common.css">
    <link rel="stylesheet" href="../css/component/component.css">
</head>
<body>
<!--咨询师点评组件-->
<div class="cmt cmt-dp">
    <div class="dp-list">
        <div class="dp-item">
            <div class="fwzxs">
                <div class="inn">
                    <div class="pic">
                        <a href="#"><img src="images/zxs.jpg" alt=""></a>

                        <div class="ico-zjdp">最佳点评</div>
                    </div>
                    <div class="text">
                        <h4 class="name"><a href="#">王珊珊</a></h4>
                        <p class="info">已为<em>1261</em>人提供帮助</p>
                    </div>
                </div>
            </div>
            <!--点评内容-->
            <div class="dp-detail">
                <p class="date">2016-04-27</p>
                <!--基本评论-->
                <div class="dp-base data-short">
                    <p>项目位于地铁亦庄线经海路站西南角100米。</p>
                    <p>
                        开发商是通泰，<span class="fc-pink">通泰投资集团</span>继天津，辽宁，内蒙古，<span class="fc-pink">福建四地</span>之后，首次在北京地区地区开发的开发通泰投资集团继天津，辽宁，内蒙古，福建四地之后，首次在北京地区地区开发的开发
                    </p>
                </div>
                <div class="dp-base data-detail">
                    <p>项目位于地铁亦庄线经海路站西南角100米。</p>
                    <p>
                        开发商是通泰，<span class="fc-pink">通泰投资集团</span>继天津，辽宁，内蒙古，<span class="fc-pink">福建四地</span>之后，首次在北京地区地区开发的开发开发商是通泰，通泰投资集团继天津，辽宁，内蒙古，福建四地之后，首次在北京地区地区开发的开发
                    </p>
                </div>
                <!--优势-->
                <div class="dp-advantage">
                    <h4>基本优势：</h4>

                    <div class="dp-con data-short">
                        <p>1、价格优势。亦庄内单价算是比较低的新盘，相比其他楼盘，价格便宜不少；</p>
                        <p>
                            2、交通优势。特别是地铁，距经海路地铁站就是100米，地铁房。小区周围公路发达公路发达路发达特别是地铁，距经海路地铁站就是100米，地铁房。小区周围公路发达公路发达路发达</p>
                    </div>
                    <div class="dp-con data-detail">
                        <p>1、价格优势。亦庄内单价算是比较低的新盘，相比其他楼盘，价格便宜不少；</p>
                        <p>
                            2、交通优势。特别是地铁，距经海路地铁站就是100米，地铁房。小区周围公路发达公路发达路发达交通优势。特别是地铁，距经海路地铁站就是100米，地铁房。小区周围公路发达公路发达路发达</p>
                    </div>
                </div>
                <div class="show-more">
                    <a href="javascript:void(0);">
                        <span class="text">查看全文</span>
                        <span class="ico ico-triangle"></span></a>
                </div>
            </div>
            <!--互动-->
            <div class="interaction">
                <div class="inn">
                    <div class="act act-zan">
                        <a href="#" class="zan"><span class="ico ico-zan"></span></a>
                        <p>(<span>118</span>个赞)</p>
                    </div>
                    <div class="act act-zx"><a href="#">我要咨询</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>