<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <title>组件－户型</title>
    <link rel="stylesheet" href="../../dist/css/common.css">
    <link rel="stylesheet" href="../css/component/component.css">
</head>
<body>
<!--户型组件-->
<div class="cmt cmt-hx">
    <div class="pic-area">
        <div class="pic-img">
            <img src="../images/cmt-3.jpg" alt="hux">
        </div>
    </div>
    <div class="des">
        <div class="tr">
            <div class="type">2房2厅 B2户型</div>
            <div class="lb-area">
                <span class="lbs">在售</span>
            </div>
        </div>
        <div class="total">
            <span class="num">参考总价：277万元</span>
        </div>
        <div class="price">
            参考单价：<span>35000元/㎡</span>
        </div>
        <div class="area">
            <span>面积：建面69m2</span>
        </div>
        <div class="more-hx">
            <a href="#">
                了解路劲上海院子更多户型信息
                <span class="ico ico-right"></span>
            </a>
        </div>
        <div class="rx">
            <span>全国免费服务热线：</span>
        </div>
        <div class="phone">
            <span>400-002-7302</span>
        </div>
    </div>
</div>
</body>
</html>